*, *::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
button {
  direction: rtl;
}

a {
  text-decoration: none;
}

button {
  padding: 0;
  border: none;
  outline: none;
  background-color: transparent;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.horizontal-line {
  width: 100%;
  height: 1px;
  margin: 32px 0 80px !important;
  background-color: #a1a1a1;
}

.container {
  width: 100%;
  max-width: 400px;
  padding: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.instagram-profile-pic {
  width: 60% !important;
  margin-top: 32px;
  border-radius: 50%;
}

.links-container {
  list-style-type: none;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.link-group {
  width: 100%;
  margin-bottom: 8px;
  position: relative;
  overflow: hidden;
  height: 38px;
  -webkit-transition: height .6s ease-in-out;
  transition: height .6s ease-in-out;
}

.link-group__btn {
  z-index: 10;
}

.link-group__links {
  width: 100%;
  padding: 0 12px;
  position: absolute;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.link-group__sub-link {
  font-family: "peyda";
  font-weight: 600;
  margin-bottom: 8px;
  color: #387C6D;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.link-group--active .link-group__btn {
  background-color: #387C6D;
}

.link-icon {
  width: 20px;
  margin: 0 8px;
}

.link-btn {
  font-family: "peyda";
  font-weight: 600;
  font-size: 16px;
  width: 100%;
  padding: 8px;
  margin-bottom: 8px;
  border-radius: 16px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: background-color .25s ease-in-out;
  transition: background-color .25s ease-in-out;
}

.creator {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  color: #222831;
  margin-bottom: 80px;
}

.creator a {
  color: #222831;
  -webkit-transition: color .2s ease-in-out;
  transition: color .2s ease-in-out;
}

.creator a:hover {
  color: #387C6D;
}

.right-animation {
  position: absolute;
  top: 100%;
  right: 0;
  -webkit-animation-name: r-animation;
          animation-name: r-animation;
  -webkit-animation-duration: 10s;
          animation-duration: 10s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-transform-origin: top;
          transform-origin: top;
}

@-webkit-keyframes r-animation {
  0% {
    -webkit-transform: rotate(10deg);
            transform: rotate(10deg);
  }
  50% {
    -webkit-transform: rotate(-10deg);
            transform: rotate(-10deg);
  }
  100% {
    -webkit-transform: rotate(10deg);
            transform: rotate(10deg);
  }
}

@keyframes r-animation {
  0% {
    -webkit-transform: rotate(10deg);
            transform: rotate(10deg);
  }
  50% {
    -webkit-transform: rotate(-10deg);
            transform: rotate(-10deg);
  }
  100% {
    -webkit-transform: rotate(10deg);
            transform: rotate(10deg);
  }
}
/*# sourceMappingURL=links.css.map */